<div class="container">
    <div class="row">
      <div class="col-lg-6">
  
        
        <form [formGroup]="userforms" (submit)="submitForm()">
          <div class="form-group">
            <label for="name">Name: </label>
            <input class="form-control" type="text" name="name" formControlName="name" />
            <span *ngIf="userforms.get('name').touched && !userforms.get('name').valid">This field is required</span>
          </div>
    
          <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control" type="email" name="email" formControlName="email" />
          </div>
          <span *ngIf="userforms.get('email').touched && !userforms.get('email').valid">This field is required</span>
          <div class="form-group">
            <label for="dob">DOB: </label>
            <input class="form-control" type="date" name="dob" formControlName="dob" />
            <span *ngIf="userforms.get('dob').touched && !userforms.get('dob').valid">This field is required</span>
          </div>
          
          <div class="form-group">
            <label for="country">Country: </label>
            <select class="form-control" name="country" id="" formControlName="country">
              <option value="IN">India</option>
              <option value="US">America</option>
              <option value="AE">UAE</option>
              <option value="AFRICA">AFRICA</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="gender">Gender: </label>
            <div class="form-check">
              <input type="radio" name="gender" value="Male" formControlName="gender" />
              <label for="gender">Male</label>
            </div>
            <div class="form-check">
              <input type="radio" name="gender" value="Female" formControlName="gender" />
              <label for="gender">Female</label>
            </div>
            <div class="form-check">
              <input type="radio" name="gender" value="Other" formControlName="gender" />
              <label for="gender">Other</label>
            </div>
            <span *ngIf="userforms.get('gender').touched && !userforms.get('gender').valid">This field is required</span>
          </div>
    
          <div class="form-group">
            <label for="maritialstatus">Marital Status: </label>
            <div class="form-check">
              <input type="radio" name="maritialstatus" value="Married" formControlName="maritialstatus" />
              <label for="maritialstatus">Married</label>
            </div>
            <div class="form-check">
              <input type="radio" name="maritialstatus" value="Single" formControlName="maritialstatus" />
              <label for="maritialstatus">Single</label>
            </div>
          </div>
          <span *ngIf="userforms.get('maritialstatus').touched && !userforms.get('maritialstatus').valid">This field is required</span>
          <div class="form-group">
            <label for="favfood">Favourite Food:</label>
            <input class="form-control" type="text" name="favfood" formControlName="favfood" />
            
          </div>
          <br>
          <hr>
          <br>
          <h4>Address</h4>
          <div formArrayName="address" *ngFor="let address of userforms.get('address')['controls'];let i = index">
            <div [formGroupName]="i">
              <div class="form-group">
                <label for="">street: </label>
                <input class="form-control" type="text" formControlName="street">
              </div> 
              <div class="form-group">
                <label for="">doorno: </label>
                <input class="form-control" type="text" formControlName="doorno">
              </div>
              <div class="form-group">
                  <label for="">zipcode: </label>
                  <input class="form-control" type="number" formControlName="zipcode">
                </div>
              <hr>
            </div>
          </div>

          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
      <div class="col-lg-6">
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">DOB</th>
              <th scope="col">Gender</th>
              <th scope="col">Country</th>
              <th scope="col">MaritialStatus</th>
              <th scope="col">FavoriteFood</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userDetails">
              <th scope="row">{{user.name}}</th>
              <td>{{user.email}}</td>
              <td>{{user.dob}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.country}}</td>
              <td>{{user.maritialstatus}}</td>
              <td>{{user.favfood}}</td>             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
